.filters {
    display: flex;
    gap: 15px; 
    margin-bottom: 20px;
  }
  
  .filters button {
    background-color: #e0f4ff; 
    color: #4fa3f7; 
    border: 1px solid #4fa3f7; 
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .filters button:hover {
    background-color: #c6e7ff;
  }
  
  .filters button.active {
    background-color: #4fa3f7; 
    color: white; 
    border-color: #4fa3f7; 
  }

 h2 {
    font-family: "Montserrat", serif;
    color: #4fa3f7;
    margin-bottom: 30px;
  }